<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/a548432773.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body>
    <header class="partials_header">
      <div class="header_container">
        <div class="header_flex">
          <div class="logo">
            <a href="/home"><h1>BookStore</h1></a>
          </div>
          <div class="flex">
            <div class="input_search">
              <input
                type="search"
                class="form-control input-form"
                placeholder="Search here..."
              />
              <i class="search-icon fas fa-search"></i>
            </div>
            <div>
              <a href="/users/logout">
                <button type="button" class="btn btn-primary mr-1 my-1">
                  Logout
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="admin-text-center">
      <a href="/admin/createCategory">
        <button type="button" class="btn btn-primary mr-1 my-1">
          Add Category
        </button>
      </a>

      <a href="/admin/allBook">
        <button type="button" class="btn btn-primary mr-1 my-1">
          All Books
        </button>
      </a>

      <a href="/admin/createBook">
        <button type="button" class="btn btn-primary mr-1 my-1">
          Create Books
        </button>
      </a>
      <a href="/admin/users">
        <button type="button" class="btn btn-primary mr-1 my-1">
          Users Detail
        </button>
      </a>
    </div>
    <div class="flex-card">
      <% categories.filter( category => { %>
         <%console.log(category, "category")%>
      <a href="/admin/getCategory/<%=category.name%>">
        <div class="card categoryCard" style="width: 18rem;">
          <img
            src="/images/<%= category.image%>"
            class="card-img-top"
            alt="bookCategory"
          />
          <div class="card-body">
            <p class="card-text">
              <%= category.name%>
            </p>
          </div>
          <div class="flex-card">
            <a href="/admin/<%=category.id %>/edit">
              <button class="positive ui button">Edit</button>
            </a>
            <a href="/admin/<%=category.id %>/delete">
              <button class="negative ui button">Delete</button>
            </a>
          </div>
        </div>
      </a>

      <% }) %>
    </div>
  </body>
</html>
