<%- include("partials/adminHeader.ejs") -%>

<div>
  <table class="table">
    <thead>
      <tr>
        <th class="table-heading ml-2" scope="col">Name</th>
        <th class="table-heading" scope="col">Email</th>
        <th class="table-heading" scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach( user => { %>
      <tr>
        <td class="ml-2"><%=user.name%></td>
        <td><%= user.email%></td>
        <td>
          <% if(!user.isblock){%>

          <a href="/admin/users/<%=user.id%>/block">Block</a>
          <%}%> <% if(user.isblock){%>

          <a href="/admin/users/<%=user.id%>/unblock">Unblock</a>
          <%}%>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
