<%- include("partials/logoutHeader.ejs") -%>

<div>
  <% total = 0%> <% sum = 0%>
</div>

<% booklist.forEach (book =>{ %>
<p><%= book.qty%></p>
<p><%= book.book.title%></p>
<p><%= book.book.author%></p>
<p><%= book.book.category%></p>
<p><%= book.book.price%></p>
<%sub = (book.qty*book.book.price) %>
<p>Product Total:<%= sub%></p>
<img src="/images/<%= book.book.image%>" height="200px" />

<%total = sub + total%> <%if(total > 0){%>
<p>Total : <%= total%></p>
<% } %>

<%})%>

