<%- include("partials/logoutHeader.ejs") -%>

<div class="container">
  <div class="bookDetailheading"><h2>Book Detail</h2></div>
 
  <div class="bookdetailflex">
    <div class="leftbookdetail">
      <p>Titel: <%=books.title%></p>
      <p>Author: <%=books.author%></p>
      <p>Category: <%=books.category%></p>
      <p>Detail: <%=books.detail%></p>
    </div>
    <div class="rightbookdetail">
      <p>Price: <%=books.price%></p>
      <p>Publisher: <%=books.publisher%></p>
      <p>Stock: <%=books.stock%></p>
      <form action="/add/<%= books.id%>" method="POST">
        <input type="number" name="qty" />

        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>

  <div class="bookdetailflex">
    <img src="/images/<%= books.image%>" width="150px" />
  </div>
</div>
