<%- include("partials/logoutHeader.ejs") -%>

<div class="container">
  <div class="bookDetailheading"><h2>Book Detail</h2></div>
  <div class="bookdetailflex">
    <div class="leftbookdetail">
      <p>Titel: <%=books.title%></p>
      <p>Author: <%=books.author%></p>
      <img src="/images/<%= books.image%>" width="150px" />
    </div>
    <div class="rightbookdetail">
      <p>Category: <%=books.category%></p>
      <p>Detail: <%=books.detail%></p>
      <p>Publisher: <%=books.publisher%></p>
      <p>Price: <%=books.price%></p>
      <p>Stock: <%=books.stock%></p>
      <form action="/add/<%= books.id%>" method="POST">
        <input type="number" name="qty" />
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>
  <div class="bookReviews">
    <div class="borderbottom">
      <div class="bookReviewsFlex">
        <h2>Customer Reviews</h2>
        <a href="">
          <button type="button" class="btn btn-primary mr-1 my-1">
            Write a Review
          </button>
        </a>
      </div>
      <form
        id="form"
        action="/users/shopping/bookDetail/<%=books.id%>/review"
        method="POST"
      >
        <input
          class="reviewInput"
          type="text"
          name="content"
          placeholder="Write a Review"
        />
      </form>
    </div>
  </div>
  <% books.reviews.forEach(review => { %>
 <div class="reviewbox">
  <h3><%=review.author%></h3>
  <p><%=review.content%></p>
  <% if(review.userId == userInfo.id){%>
  <a href="/users/review/<%=review.id%>/edit">Edit</a>
  <a href="/users/review/<%=review.id%>/delete">Delete</a>
  <%}%>
 </div>
  <% })%>
</div>
