<%- include("partials/logoutHeader.ejs") -%>

<div class="container">
  <div class="bookDetailHeading"><h2>Book Detail</h2></div>
  <div class="bookDetailFlex">
    <div class="leftBookDetail">
      <img src="/images/<%= books.image%>" width="150px" />
    </div>
    <div class="rightBookDetail">
      <p class="book-detail-title"><%=books.title%></p>
      <p class="book-detail-price">Price: <%=books.price%></p>
      <span>Inclusive of all taxes </span>
      <div class="book-detail-form">
        <form action="/add/<%= books.id%>" method="POST">
          <input class="ui basic button " type="number" name="qty" />

          <input
            class="ui primary basic button"
            type="submit"
            value="Add to Cart"
          />
        </form>
      </div>
    </div>
  </div>

  <div>
    <p class="book-detail-title">Product Specifications</p>
    <h4>Description</h4>
    <p><%=books.detail%></p>
    <div class="bookDetailFlex">
      <div class="leftBookDetail">
        <p>Author: <%=books.author%></p>
        <p>Category: <%=books.category%></p>
      </div>
      <div class="rightBookDetail">
        <p>Publisher: <%=books.publisher%></p>
        <p>Stock: <%=books.stock%></p>
      </div>
    </div>
  </div>

  <div class="bookReviews">
    <div class="borderbottom">
      <div class="bookReviewsFlex">
        <h2>Customer Reviews</h2>
      </div>
      <form
        id="form"
        action="/users/shopping/bookDetail/<%=books.id%>/review"
        method="POST"
      >
        <input
          class="reviewInput"
          type="text"
          name="content"
          placeholder="Write a Review"
        />
      </form>
    </div>
  </div>
  <% books.reviews.forEach(review => { %>
  <div class="reviewbox">
    <h5><%=review.author%></h5>
    <p><%=review.content%></p>
    <% if(review.userId == userInfo.id){%>
    <a href="/users/review/<%=review.id%>/edit">Edit</a>
    <a href="/users/review/<%=review.id%>/delete">Delete</a>
    <%}%>
  </div>
  <% })%>
</div>
