<%- include("partials/logoutHeader.ejs") -%>

<div class="allBooks">
  <% books.filter(books =>{%>
  <div class="allBooksSingle">
    <img src="/images/<%= books.image%>" />
    <a class="bookTitle" href="/users/shopping/bookDetail/<%= books.id%>">
      <h2><%= books.title%></h2>
    </a>
    <div class="bookAuthor">
      <i class="edit icon"></i>
      <p><%= books.author%></p>
    </div>
    <p><%= books.detail%></p>
    <div>
      <i class="book icon"></i>
      <%= books.stock%>
    </div>
  </div>
  <%})%>
</div>
