<%- include("partials/logoutHeader.ejs") -%>

<div class="allBooks">
  <% books.filter(book =>{%>
  <div class="allBooksSingle">
    <a class="bookTitle" href="/users/shopping/bookDetail/<%= book.id%>">
      <img src="/images/<%= book.image%>" />
      <h2><%= book.title%></h2>
      <p><%= book.price%></p>
    </a>
  </div>
  <%})%>
</div>
